click==8.1.7
colorama==0.4.6
-e git+ssh://git@github.com/Tomu98/GitHub-User-Activity.git@1bba58c2a00d04dd33f96356c8df288eba31790c#egg=github_user_activity
iniconfig==2.0.0
markdown-it-py==3.0.0
mdurl==0.1.2
packaging==24.1
pluggy==1.5.0
Pygments==2.18.0
pytest==8.3.3
pytest-click==1.1.0
pytest-mock==3.14.0
rich==13.9.2
setuptools==75.2.0
